*{
    color: white;
}

.ball{
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -1;
}

body{
    background-color: black;
    min-height: 100vh;
}

.scroll-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px white solid;
}

h1{
    font-size: 50px;
    text-align: center;
}